@* Componente de navegación vertical *@

<div class="d-flex flex-column flex-shrink-0 p-3 bg-dark vh-100 sidebar">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-4">Dashboard</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="/usuarios" class="nav-link text-white">
                Usuarios
            </a>
        </li>
        <li>
            <a href="/reportes" class="nav-link text-white">
                Reportes
            </a>
        </li>
        <li>
            <a href="/facturacion" class="nav-link text-white">
                Facturación
            </a>
        </li>
        <li>
            <a href="/inventario" class="nav-link text-white">
                Inventario
            </a>
        </li>
    </ul>
</div>
