@page "/"
@using Cards.Shared

<div class="dashboard-container py-5">
    <h2 class="text-center mb-2 fw-bold section-title">!Bienvenido al Panel Principal!</h2>
    <h4 class="text mb-5 fw-bold section-subtitle">Selecciona el apartado que deseas visualizar:</h4>
    <div class="row g-5 justify-content-center align-items-stretch">

        <CardModule Title="Usuarios"
                    Description="Gestión de usuarios del sistema."
                    IconSrc="img/usuarios.png"
                    LinkUrl="/usuarios"
                    IconColor="usuarios" />

        <CardModule Title="Reportes"
                    Description="Visualización y exportación de reportes."
                    IconSrc="img/reportes.png"
                    LinkUrl="/reportes"
                    IconColor="reportes" />

        <CardModule Title="Facturación"
                    Description="Administración de facturas y pagos."
                    IconSrc="img/facturacion.png"
                    LinkUrl="/facturacion"
                    IconColor="facturacion" />

        <CardModule Title="Inventario"
                    Description="Control de productos y existencias."
                    IconSrc="img/inventario.png"
                    LinkUrl="/inventario"
                    IconColor="inventario" />

    </div>
</div>